<main class='p-5'>
  <div class='row g-5'>
    {{!Email vert template}}
    <div class='col-12'>
      <label classs='form-label'>Email Address</label>
      <input class='form-control' />
      <div class='form-text text-danger'>Error.</div>
    </div>
    {{!Email horiz template}}
    <div class='col-12'>
        <div class="row">
            <div class='col-2 pt-1'>
              <label classs='form-label'>Email</label>
            </div>
            <div class='col-6'>
              <input class='form-control' />
            </div>
            <div class='col-4 ps-2 pt-1'>
              <div class='form-text text-danger ps-5'>Error.Please enter an email.</div>
        </div>
    </div>


    <div class="py-3">
      <hr />
    </div>

    {{!Color horiz template}}
    <div class='col-12'>
        <div class="row">
            <div class='col-1 pt-1'>
              <label classs='form-label'>Color</label>
            </div>
            <div class='col-1'>
              <input type="color" class='form-control' />{{!color type}}
            </div>
            <div class='col-4 pt-1'>
              <div class='form-text text-danger ps-5'>Error.Please select a color.</div>
        </div>
    </div>
    
    <div class="py-3">
      <hr />
    </div>

    {{! Select template vert}}
    <div class='col-12 py-2' >
        <label classs='form-label'>Select Role</label>
        <select class='form-select' />
            <option selected>Open List</option>
            <option value="1">Admin</option>
            <option value="2">User</option>
        </select>
        <div class='form-text text-danger'>
            Error.Please select a role.
        </div>
    </div>

    <div class="py-3">
      <hr />
    </div>

    {{! Form-check template vert}}
    <div class="col-12">
        <div class="form-check">
            <label class="form-check-label">Apples</label>
            <input name="food" type="checkbox" class="form-check-input">
        </div>
        <div class="form-check">
            <label class="form-check-label">Bananas</label>
            <input name="food" type="checkbox" class="form-check-input">
        </div>
        <div class="form-check">
            <label class="form-check-label">Sneakers</label>
            <input name="clothes" type="checkbox" class="form-check-input">
        </div>
    </div>

    <div class="py-3">
      <hr />
    </div>

    {{! Radio-check template vert}} 
    <div class="col-12">
        <div class="form-check">
            <label class="form-check-label">Apples</label>
            <input name="food" type="radio" class="form-check-input">
        </div>
        <div class="form-check">
            <label class="form-check-label">Bananas</label>
            {{! name attr is what groups the radio selection into only one possible category(selection)}} 
            <input name="food" type="radio" class="form-check-input">
        </div>
        <div class="form-check">
            <label class="form-check-label">Salmon</label>
            <input name="food" type="radio" class="form-check-input">
        </div>
    </div>


    <div class="py-3">
      <hr />
    </div>

    {{! Switch-field template vert}} 
    <div class="col-12">
        <div class="form-check form-switch">
            <label class="form-switch-label">Ignite Enemy</label>
            <input type="checkbox" class="form-check-input">
        </div>
    </div>


  </div>
</main>