<main>
  <div>
    <h1 class='text-center text-uppercase'>Boostrap World</h1>
    <h2 class='text-lowercase'>Bootstrap World</h2>
    <h3>Bootstrap World</h3>
  </div>

  <hr />

  <div>
    <div class='display-1'>Bootstrap World</div>
    <div class='display-2'>Bootstrap World</div>
  </div>

  <hr />

  <div>
    <div class='text-muted'><span
        class='display-6'
      >BOOTSTRAPP</span>
      WORLD</div>
  </div>

  <div>
    <button class='btn btn-warning'><span
        class='text-uppercase'
      >Warning Button</span></button>

    <a
      href='/'
      class='btn btn-danger'
      class='text-uppercase'
    >danger button</a>

    <p class='text-primary'>my text</p>
  </div>

  <hr />
  <br />
  <br />
  <div class='card'>
    <div class='card-body'>The Meat of the Card</div>
  </div>

</main>