<main>

  <div class='row g-2'>
    <div class='col-12'>
      {{!flex column forces vertical of class type  }}
      <div class='nav nav-tabs'>
        <div class='nav-item'>
          <a
            href='/bootstrap'
            class='nav-link active disabled'
          >
            Home
          </a>
        </div>
        <div class='nav-item'>
          <a href='/task31' class='nav-link'>
            task31
          </a>
        </div>
        <div class='nav-item'>
          <a href='task21' class='nav-link'>
            task21
          </a>
        </div>
        <div class='nav-item'>
          <a href='/task22' class='nav-link'>
            task22
          </a>
        </div>
      </div>
    </div>
    <div class='col-2'>
      <div class='card'>
        <div class='py-4'>
          {{!flex column forces vertical of class type  }}
          <div class='nav flex-column'>
            <div class='nav-item pb-2'>
              <div class='card'>
                <a
                  href='/bootstrap'
                  class='nav-link text-bg-warning disabled'
                >
                  Home
                </a>
              </div>
            </div>
            <div class='nav-item pb-2'>
              <div class='card'>
                <a
                  href='/task31'
                  class='nav-link text-bg-warning'
                >
                  task31
                </a>
              </div>
            </div>
            <div class='nav-item pb-2'>
              <div class='card'>
                <a
                  href='task21'
                  class='nav-link text-bg-warning'
                >
                  task21
                </a>
              </div>
            </div>
            <div class='nav-item pb-2'>
              <div class='card'>
                <a
                  href='/task22'
                  class='nav-link text-bg-warning'
                >
                  task22
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-8'>
      <div class='row'>
        <div class='col-12'>
          <ol class='breadcrumb'>
            <li class='breadcrumb-item'>
              <a href='#'>
                Home
              </a>
            </li>
            <li class='breadcrumb-item'>
              <a href='#'>
                Catalogs
              </a>
            </li>
            <li class='breadcrumb-item'>
              Project Type
            </li>
          </ol>
        </div>
        <div class='cold-12'>
          <button class='btn btn-primary'>TEST</button>
          <div class='alert alert-dark m-2'>
            <h6 class='m-0'>Bootstrap World
              <span
                class='badge text-bg-warning rounded-pill text-uppercase'
              >test</span></h6>
          </div>

        </div>
      </div>
    </div>
    <div class='col-2'>
      <div class='card'>Test</div>
    </div>

  </div>

</main>