<nav>
    {{> link text="Summary" href="/summary"}}
    {{> link text="Skills" href="/skills"}}
    {{> link text="Education" href="/education"}}
    {{> link text="Person" href="/person"}}
    {{> link text="Bio" href="/bio"}}
    {{> link text="Program" href="/program"}}
    {{> link text="Web" href="/web"}}
    {{> link text="Work" href="/work" noLine=true}}
</nav>