<nav>
    {{> link text="Summary" href="/summary"}}
    {{> link text="Skills" href="/skills"}}
    {{> link text="Education" href="/education"}}
    {{> link text="Work" href="/work" noLine=true}}
</nav>