<nav>
    {{> link text="JS" href="/js"}}
    {{> link text="Car" href="/car"}}
    {{> link text="Facebook" href="/facebook"}}
    {{> link text="Bootstrap" href="/bootstrap"}}
    {{> link text="Mac" href="/mac"}}
    {{> link text="Program" href="/program"}}
</nav>